<!DOCTYPE html>
<html lang="en" data-color-mode="dark" data-light-theme="light_high_contrast" data-dark-theme="dark_colorblind" data-a11y-animated-images="system" data-a11y-link-underlines="true" data-turbo-loaded="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KENVILA-KEPAS</title>
    <link rel="shortcut icon" href="../src/media/round-kepas.png" type="image/x-icon">
    <script src="../src/js/htmx.min.js"></script>
    <link rel="stylesheet" href="../src/styles/tailwind.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css.css">
    <link rel="stylesheet" href="../src/styles/footer.css">
    <link rel="stylesheet" href="../src/styles/styles.css">
    <link rel="stylesheet" href="../src/styles/card-style.css">
    <link rel="stylesheet" href="../src/styles/layout.css">
</head>
<body class="logged-in env-production page-responsive page-profile mine intent-mouse" style="padding-right: 0px; overflow: initial;" data-new-gr-c-s-loaded="8.909.0">
  <nav>
    <div class="kepas-nav-items">
      <ul>
        <li><a href="/"><img src="./../src/media/logo.png" alt="logo" width="150" class="logo"></a></li>
      </ul>
      <div class="search-field">
        <form id="searchForm" hx-get="/search" hx-target="#searchResults" hx-trigger="keyup delay:200ms">
          <!-- <button class="filter-btn">Location</button> -->
        <input type="text" name="query" id="searchInput" placeholder="Search by name or location">
        </form>
      </div>
      <ul>
        <li class="post-your-skills-btn">
          <a href="#">
           Post Your Skills
          </a>
        </li>
        <li>
          <button type="button" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="text-green-700 border border-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded text-sm px-3 py-0.5 text-center me-2 dark:border-blue-100 dark:text-green-500 dark:focus:ring-green-800">LOGIN</button>
        </li>
        <li>
          <button type="button" data-modal-target="signup-modal" signup-data-modal-toggle="signup-modal" class="text-blue-700 hover:text-white border border-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-3 py-0.5 text-center me-2 dark:border-blue-100 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">SIGNUP</button>
        </li>
      </ul>
    </div>
  </nav>
  <!-- component -->
<div class="main-body-container body-bg-white flex items-center justify-center">
  <div class="flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 max-w-6xl sm:p-3 sm:my-2 sm:mx-4 sm:rounded-2xl">
    
    <!-- Navigation -->
    <!-- <div class="Layout-sidebar">
      <div class="z-10 sticky top-3 bg-white px-2 lg:px-4 py-2 lg:py-10 sm:rounded-xl flex lg:flex-col justify-between left-worker-sidebar">
        <div class="h-card">
          <div class="js-profile-editable-replace">
            <div class="clearfix d-flex d-md-block flex-items-center mb-4 mb-md-0">
              <div class="position-relative d-inline-block col-2 col-md-12 mr-3 mr-md-0 flex-shrink-0" style="z-index:4;">
                <a class="tooltipped tooltipped-s d-block" aria-label="Change your avatar" data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:27158375,&quot;target&quot;:&quot;EDIT_AVATAR&quot;,&quot;user_id&quot;:27158375,&quot;originating_url&quot;:&quot;../src/media/nelson-400x400-dimensions.jpg&quot;}}" data-hydro-click-hmac="3e4f29bb6800a696f2ef2fcdbb2a9ead04aa19987cc2d7c9f5a7b819f73cb13c" href="/account"><img style="height:auto;" alt="" src="../src/media/nelson-400x400-dimensions.jpg" width="200" height="200" class="avatar avatar-user width-full border color-bg-default">
                </a>
              </div>
              <div class="vcard-names-container float-left js-profile-editable-names col-12 py-3 js-sticky js-user-profile-sticky-fields" style="position: sticky;" data-original-top="0px">
                <h1 class="vcard-names ">
                  <span class="p-name vcard-fullname d-block overflow-hidden" itemprop="name">
                    nelson
                  </span>
                  <span class="p-nickname vcard-username d-block" itemprop="additionalName">
                    nellylemmy
          
                  </span>
                </h1>
              </div>
            </div>
            <div class="d-flex flex-column">
              <div class="flex-order-1 flex-md-order-none"></div>
              <div class="js-profile-editable-area d-flex flex-column d-md-block">
                <div class="p-note user-profile-bio mb-3 js-user-profile-bio f4">
                  <div>Web developer, Node Js, JavaScript, MYSQL </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-block js-profile-editable-edit-button" type="button" name="button">
                    Edit Profile
                  </button>
                </div>
                <div class="flex-order-1 flex-md-order-none mt-2 mt-md-0">
                  <div class="mb-3">
                    <a class="Link--secondary no-underline no-wrap" href="https://github.com/nellylemmy?tab=followers">
                      <svg text="muted" aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-people">
                <path d="M2 5.5a3.5 3.5 0 1 1 5.898 2.549 5.508 5.508 0 0 1 3.034 4.084.75.75 0 1 1-1.482.235 4 4 0 0 0-7.9 0 .75.75 0 0 1-1.482-.236A5.507 5.507 0 0 1 3.102 8.05 3.493 3.493 0 0 1 2 5.5ZM11 4a3.001 3.001 0 0 1 2.22 5.018 5.01 5.01 0 0 1 2.56 3.012.749.749 0 0 1-.885.954.752.752 0 0 1-.549-.514 3.507 3.507 0 0 0-2.522-2.372.75.75 0 0 1-.574-.73v-.352a.75.75 0 0 1 .416-.672A1.5 1.5 0 0 0 11 5.5.75.75 0 0 1 11 4Zm-5.5-.5a2 2 0 1 0-.001 3.999A2 2 0 0 0 5.5 3.5Z"></path>
            </svg>
                      <span class="text-bold color-fg-default">0</span>
                      followers
            </a>. 
            <a class="Link--secondary no-underline no-wrap" href="https://github.com/nellylemmy?tab=following">
              <span class="text-bold color-fg-default">6</span>
              following
    </a>
                  </div>
                </div>
              </div>

            </div>            
          </div>
        </div>
      </div>
    </div> -->

    <!-- Content -->
<div class="flex-1 px-2 sm:px-0">
      <!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-hidden overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full login-modal">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Sign in to KEPAS
                </h3>
                <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form class="space-y-4" id="loginForm">
                    <div>
                        <label for="workerMobileNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Mobile Number:</label>
                        <input type="tel" id="workerMobileNumber" name="workerMobile" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Enter Mobile Number" required>
                        <select id="phoneDropdown" style="display: none;">
                          <option value="Select Number">Select Number</option>
                          <option value="0741642093">0741642093</option>
                          <option value="0113913631">0113913631</option>
                          <option value="0792471415">0792471415</option>
                        </select>
                    </div>
                    <div>
                        <label for="workerPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                        <input type="password" id="workerPassword" name="workerPassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800">
                            </div>
                            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 select-none dark:text-gray-300">Remember me</label>
                        </div>
                        <a href="./reset-password.html" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
                    </div>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
                    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                        Not registered? <a href="./signup.html" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

<div id="signup-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-hidden overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full signup-modal">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Sign Up to KEPAS
              </h3>
              <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" signup-data-modal-hide="signup-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5">
              <form class="space-y-4" id="signupForm">
                  <div>
                      <label for="workerFirstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter First Name (3 characters minimum, letters and numbers only):</label>
                      <input type="text" id="workerFirstName" name="workerFirstName" pattern="[A-Za-z0-9]{3,}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                  </div>
                  <div>
                      <label for="workerLastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Last Name (3 characters minimum, letters and numbers only):</label>
                      <input type="text" id="workerLastName" name="workerLastName" pattern="[A-Za-z0-9]{3,}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                  </div>
                  <div>
                      <label for="workerMobile" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Mobile Number:</label>
                      <input type="tel" id="workerMobile" name="workerMobile" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                  </div>
                  <div>
                      <label for="workerEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Email:</label>
                      <input type="email" id="workerEmail" name="workerEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                  </div>
                  <div>
                      <label for="signupWorkerPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Password (6 characters minimum):</label>
                      <input type="password" id="signupWorkerPassword" name="signupWorkerPassword" pattern=".{6,}" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                  </div>
                  <div>
                      <label for="workerRepeatPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat Password:</label>
                      <input type="password" id="workerRepeatPassword" name="workerRepeatPassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                  </div>
                  <div class="flex justify-between">
                      <div class="flex items-start">
                          <label for="showPassword" class="ms-2 text-sm font-medium text-gray-900 select-none dark:text-gray-300"><input type="checkbox" id="showPassword"> Show Password</label>
                      </div>
                  </div>
                  <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Signup</button>
              </form>
          </div>
      </div>
  </div>
</div> 

<div class="mt-2">
  <div class="js-pinned-items-reorder-container">
    <h2 class="f4 text-normal">
      Tailored for you
    <svg style="box-sizing: content-box; color: var(--color-icon-primary);" width="16" height="16" viewBox="0 0 16 16" fill="none" data-view-component="true" class="spinner pinned-items-spinner js-pinned-items-spinner v-align-text-bottom ml-1 anim-rotate">
  <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2" vector-effect="non-scaling-stroke" fill="none"></circle>
  <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" vector-effect="non-scaling-stroke"></path>
</svg>
    <span class="ml-2 color-fg-muted f6 js-pinned-items-reorder-message" role="status" aria-live="polite" data-error-text="Something went wrong." data-success-text="Order updated."></span>
  </h2>
  <main>
    <section id="searchResults" hx-swap="innerHTML" hx-get="/unknown" hx-target="#searchResults" hx-trigger="load" class="mb-10 sm:mb-0 mt-4 grid gap-1 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 search-result cards">
    </section>
  </main>
  </div>
</div>
</div>
</div>
</div>
<!-- main navbar -->
<!-- mobile navbar -->

      <footer class="flex-rw">
  
        <ul class="footer-list-top">
          <li>
            <h4 class="footer-list-header">About Pavilion</h4></li>
          <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">GET TO KNOW US</a></li>
          <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">PROMOS</a></li>
          <li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">BECOME A RETAILER</a></li>
      
          <li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">JOB OPENINGS</a></li>
      
          <li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">EVENTS</a></li>
        </ul>
        <ul class="footer-list-top">
          <li>
            <h4 class="footer-list-header">The Gift Selection</h4></li>
      
      
          <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
          <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
          <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
          <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
          <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li>
        </ul>
        <ul class="footer-list-top">
          <li id='help'>
            <h4 class="footer-list-header">Please Help Me</h4></li>
          <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
          <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
          <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">STORE LOCATOR</a></li>
          <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
          <li id='order-tracking'><a href='/shop/order-status' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
        </ul>
        <section class="footer-social-section flex-rw">
            <span class="footer-social-overlap footer-social-connect">
            CONNECT <span class="footer-social-small">with</span> US
            </span>
            <span class="footer-social-overlap footer-social-icons-wrapper">
            <a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
            <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
            <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
            <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
            </span>
        </section>
        <section class="footer-bottom-section flex-rw">
      <div class="footer-bottom-wrapper">   
      <i class="fa fa-copyright" role="copyright">
       
      </i> 2019 Pavilion in <address class="footer-address" role="company address">Bergen, NY</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
          </div>
          <div class="footer-bottom-wrapper">
          <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
            </div>
        </section>
      </footer>
    <script src="./sweetalert2@11.min.js"></script>
    <script>

  // Function to fetch and update workers
  // async function fetchAndRenderWorkers() {
  //   try {
  //     const response = await fetch('/api/workers');
  //     const workers = await response.json();
      
  //     // Update the HTML with the received worker data
  //     updateWorkersUI(workers);
  //   } catch (error) {
  //     console.error('Error fetching workers:', error);
  //   }
  // }

  // Function to update the HTML with worker data
  // function updateWorkersUI(workers) {
  //   const workerContainer = document.getElementById('workersContainer');
  //   workerContainer.innerHTML = ''; // Clear existing content

  //   workers.forEach((worker) => {
  //     const workerCard = createWorkerCard(worker);
  //     workerContainer.appendChild(workerCard);
  //   });
  // }

  // Function to create HTML for individual worker card
//   function createWorkerCard(worker) {
//     const card = document.createElement('div');
//     card.classList.add('worker-card');
//     card.innerHTML = `
// <li>
//   <div class="card-apartment">
//     <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="${worker.firstName} ${worker.lastName}" />
//     <div class="worker-work">
//       <div class="left-description">
//         <div>My Recent Work</div>
//       </div>
//       <div class="reting">0.4</div>
//     </div>
//     <div class="card__overlay-apartment">
//       <p class="card__head-apartment">${worker.firstName} ${worker.lastName}</p>
//       <p class="card__info-apartment">Worker Description...</p>
//       <p class="card__date-apartment">Jan 18-2024 . online</p>
//       <p class="card__price-apartment">Budget: $40 day</p>
//     </div>
//   </div>      
// </li>
// `;
//     return card;
//   }

  // Fetch and render workers on page load
  // document.addEventListener('DOMContentLoaded', fetchAndRenderWorkers);



      // if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      //         document.documentElement.classList.add('dark');
      //     } else {
      //         document.documentElement.classList.remove('dark');
      //     }
  
  
      //     var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
      //     var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
  
      //     var themeToggleDarkIcon_2 = document.getElementById('theme-toggle-dark-icon-2');
      //     var themeToggleLightIcon_2 = document.getElementById('theme-toggle-light-icon-2');
  
      //     // Change the icons inside the button based on previous settings
      //     if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia(
      //         '(prefers-color-scheme: dark)').matches)) {
      //         themeToggleLightIcon.classList.remove('hidden');
      //         if (themeToggleDarkIcon_2) {
      //             themeToggleLightIcon_2.classList.remove('hidden');
      //         }
      //     } else {
      //         themeToggleDarkIcon.classList.remove('hidden');
      //         if (themeToggleDarkIcon_2) {
      //             themeToggleDarkIcon_2.classList.remove('hidden');
      //         }
      //     }
    
      //     var themeToggleBtn_2 = document.getElementById('theme-toggle-2');
      //     if (themeToggleBtn_2) {
  
      //         themeToggleBtn_2.addEventListener('click', function () {
  
      //             // toggle icons inside button
      //             themeToggleDarkIcon_2.classList.toggle('hidden');
      //             themeToggleLightIcon_2.classList.toggle('hidden');
  
      //             sync_theme()
  
      //         });
      //     }
  
  
      //     var themeToggleBtn = document.getElementById('theme-toggle');
  
      //     themeToggleBtn.addEventListener('click', function () {
  
      //         // toggle icons inside button
      //         themeToggleDarkIcon.classList.toggle('hidden');
      //         themeToggleLightIcon.classList.toggle('hidden');
      //         sync_theme()    
      //     });
  
      //     function sync_theme() {
      //         // if set via local storage previously
      //         if (localStorage.getItem('color-theme')) {
      //             if (localStorage.getItem('color-theme') === 'light') {
      //                 document.documentElement.classList.add('dark');
      //                 localStorage.setItem('color-theme', 'dark');
      //             } else {
      //                 document.documentElement.classList.remove('dark');
      //                 localStorage.setItem('color-theme', 'light');
      //             }
      //             // if NOT set via local storage previously
      //         } else {
      //             if (document.documentElement.classList.contains('dark')) {
      //                 document.documentElement.classList.remove('dark');
      //                 localStorage.setItem('color-theme', 'light');
      //             } else {
      //                 document.documentElement.classList.add('dark');
      //                 localStorage.setItem('color-theme', 'dark');
      //             }
      //         }
  
      //     }
  
      //     document.addEventListener('DOMContentLoaded', function () {
      //         // open
      //         const burger = document.querySelectorAll('.navbar-burger');
      //         const menu = document.querySelectorAll('.navbar-menu');
  
      //         if (burger.length && menu.length) {
      //             for (var i = 0; i < burger.length; i++) {
      //                 burger[i].addEventListener('click', function () {
      //                     for (var j = 0; j < menu.length; j++) {
      //                         menu[j].classList.toggle('hidden');
      //                     }
      //                 });
      //             }
      //         }
  
      //         // close
      //         const close = document.querySelectorAll('.navbar-close');
      //         const backdrop = document.querySelectorAll('.navbar-backdrop');
  
      //         if (close.length) {
      //             for (var i = 0; i < close.length; i++) {
      //                 close[i].addEventListener('click', function () {
      //                     for (var j = 0; j < menu.length; j++) {
      //                         menu[j].classList.toggle('hidden');
      //                     }
      //                 });
      //             }
      //         }
          
  
      //         if (backdrop.length) {
      //             for (var i = 0; i < backdrop.length; i++) {
      //                 backdrop[i].addEventListener('click', function () {
      //                     for (var j = 0; j < menu.length; j++) {
      //                         menu[j].classList.toggle('hidden');
      //                     }
      //                 });
      //             }
      //         }
      //     });



  document.addEventListener('DOMContentLoaded', function () {
    const modalButton = document.querySelector('[data-modal-toggle]');
    const signupModalButton = document.querySelector('[signup-data-modal-toggle]');
    const loginmodal = document.getElementById('authentication-modal');
    const signupmodal = document.getElementById('signup-modal');
    const closeButton = loginmodal.querySelector('[data-modal-hide]');
    const signupcloseButton = signupmodal.querySelector('[signup-data-modal-hide]');

    // Function to show the modal
    const showModal = () => {
      loginmodal.classList.remove('hidden');
      document.body.style.overflow = 'hidden';
    };
    const showSignupModal = () => {
      signupmodal.classList.remove('hidden');
      document.body.style.overflow = 'hidden';
    };

    // Function to hide the modal
    const hideModal = () => {
      loginmodal.classList.add('hidden');
      document.body.style.overflow = '';
    };
    const hideSignupModal = () => {
      signupmodal.classList.add('hidden');
      document.body.style.overflow = '';
    };

    // Event listener to show the modal on button click
    modalButton.addEventListener('click', showModal);
    signupModalButton.addEventListener('click', showSignupModal);

    // Event listener to hide the modal on close button click
    closeButton.addEventListener('click', hideModal);
    signupcloseButton.addEventListener('click', hideSignupModal);

    // Event listener to hide the modal when clicking outside the modal
    loginmodal.addEventListener('click', function (event) {
      if (event.target === loginmodal) {
        hideModal();
      }
    });
    signupmodal.addEventListener('click', function (event) {
      if (event.target === signupmodal) {
        hideSignupModal();
      }
    });

    // Event listener to hide the modal on pressing the Esc key
    document.addEventListener('keydown', function (event) {
      if (event.key === 'Escape') {
        hideModal();
      }
    });
    document.addEventListener('keydown', function (event) {
      if (event.key === 'Escape') {
        hideSignupModal();
      }
    });
  });

  document.getElementById('loginForm').addEventListener('submit', async function (event) {
      event.preventDefault();

      const workerMobile = document.getElementById('workerMobileNumber').value;
      const workerPassword = document.getElementById('workerPassword').value;

      try {
        // Send data to the server for login
        const response = await fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ workerMobile, workerPassword }),
        });

        const data = await response.json();
        console.log(data);

        // Redirect or show a message based on the response
        if (data.success) {
          Swal.fire({
            icon: 'success',
            title: 'SUCCESS',
            text: data.message,
          }).then(() => {
            window.location.href = '/worker/dashboard';
          });
          return
        }else if(data.notVerified == true){
          Swal.fire({
            icon: 'error',
            title: 'Not Verified',
            text: data.message,
          }).then(() => {
            window.location.href = '/verify-account.html';
          });
        } else {
          Swal.fire({
            icon: 'error',
            title: 'An Error Occured!',
            text: data.message,
          })
        }
      } catch (error) {
        console.error('Error:', error);
      }
    });

    document.getElementById('workerMobileNumber').addEventListener('click', function() {
        var dropdown = document.getElementById('phoneDropdown');
        if (dropdown.style.display === 'none' || dropdown.style.display === '') {
            dropdown.style.display = 'block';
        } else {
            dropdown.style.display = 'none';
        }
    });

    // Update input value when a dropdown option is selected
    document.getElementById('phoneDropdown').addEventListener('change', function() {
        var selectedNumber = this.value;
        document.getElementById('workerMobileNumber').value = selectedNumber;

        // Hide the dropdown after selection
        this.style.display = 'none';
    });

    document.getElementById('signupForm').addEventListener('submit', async function (event) {
      event.preventDefault();

      const workerFirstName = document.getElementById('workerFirstName').value;
      const workerLastName = document.getElementById('workerLastName').value;
      const workerMobile = document.getElementById('workerMobile').value;
      const workerEmail = document.getElementById('workerEmail').value;
      const signupWorkerPassword = document.getElementById('signupWorkerPassword').value;
      const workerRepeatPassword = document.getElementById('workerRepeatPassword').value;

      // Validate password match
      if (signupWorkerPassword !== workerRepeatPassword) {
        Swal.fire({
            icon: 'warning',
            title: 'Warning!',
            text: 'Passwords do not match! Please check to be sure that they math and try again',
          })
        return;
      }

      try {
        // Send data to the server for signup
        const response = await fetch('/signup', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ workerFirstName, workerLastName, workerMobile, workerEmail, signupWorkerPassword }),
        });

        const data = await response.json();
        console.log(data);

        // Redirect or show a message based on the response
        if (data.success) {
          Swal.fire({
            icon: 'success',
            title: 'Signup successful!',
            text: data.message,
          }).then(() => {
            // Redirect to the login page
            window.location.href = '/verify-account.html';
          });
          // Redirect to the login page or another page if needed
        } else {
          Swal.fire({
            icon: 'warning',
            title: 'Signup Not successful!',
            text: data.message,
          })
        }
      } catch (error) {
        console.error('Error:', error);
      }


    });

    // Toggle show/hide password
    document.getElementById('showPassword').addEventListener('change', function () {
      const passwordInput = document.getElementById('signupWorkerPassword');
      const repeatPasswordInput = document.getElementById('workerRepeatPassword');
      passwordInput.type = this.checked ? 'text' : 'password';
      repeatPasswordInput.type = this.checked ? 'text' : 'password';
    });

    document.getElementById('searchForm').addEventListener('keyup', function(event) {
  // Check if the pressed key is alphanumeric
  if (
    (event.keyCode >= 48 && event.keyCode <= 57) || // 0-9
    (event.keyCode >= 65 && event.keyCode <= 90) || // a-z
    (event.keyCode >= 96 && event.keyCode <= 105) // numpad 0-9
  ) {
    event.preventDefault();
    const query = document.getElementById('searchInput').value.toLowerCase();
    const searchResults = document.getElementById('searchResults');
    const results = searchResults.querySelectorAll('.search-result');

    results.forEach(result => {
      const text = result.textContent.toLowerCase();
      let highlightedText = '';

      let index = 0;
      for (let i = 0; i < text.length; i++) {
        if (text[i] === query[index]) {
          highlightedText += `<span class="highlight">${text[i]}</span>`;
          index++;
        } else {
          highlightedText += text[i];
        }
      }

      result.innerHTML = highlightedText;
    });
  }
});


  </script>
</body>
</html>